.button--scroll {
  height: 45px;
  width: 45px;
  background-color: $color-brand-2;
  border-radius: 50px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--go {
  height: 45px;
  width: 76px;
  background-color: $color-brand-2;
  color: $color-brand-1;
  font-weight: bold;
  border: 2px solid $color-brand-1;
  border-radius: 50px;
  transition: ease 0.5s;
  &:hover {
    background-color: $color-brand-1;
    color: $color-brand-2;
  }
  @include tablet {
    width: 91px;
  }
  @include desktop {
    width: 160px;
  }
}
