.button--scroll {
  @include button-style1($color-brand-2);
}

.button--go {
  height: 45px;
  width: 76px;
  @include button-style2($color-brand-2, $color-brand-1);
  @include tablet {
    width: 91px;
  }
  @include desktop {
    width: 160px;
  }
}

.button--reasons {
  height: 45px;
  width: 184px;
  @include button-style2($color-brand-1, $color-brand-2);
  @include tablet {
    width: 210px;
  }
  @include desktop {
    width: 255px;
  }
}
