body {
  font-family: $font-family;
  color: $color-brand-text;
  @include tablet {
    font-size: 1.5rem;
  }
}

.txt--title {
  font-family: $font-title;
}

.txt--dark {
  color: $color-brand-dark;
}

.txt--light {
  color: $color-brand-2;
}

.section--color {
  color: $color-brand-3;
}

.txt--xl {
  font-size: 2.625rem;
  @include tablet {
    font-size: 5rem;
  }
  @include desktop {
    font-size: 6.25rem;
  }
}

.txt--lg {
  font-size: 1.5rem;
  @include tablet {
    font-size: 1.625rem;
  }
  @include desktop {
    font-size: 2rem;
  }
}

.txt--md {
  font-size: 1.125rem;
  @include tablet {
    font-size: 1.25rem;
  }
}

.txt--sm {
  font-size: 0.875rem;
  @include desktop {
    font-size: 1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.txt--center {
  text-align: center;
}

.txt--regular {
  font-weight: normal;
}
