<footer class="footer txt--light uppercase">
  <a class="footer__button button--scroll" href="#start">
    <img src="./assets/images/ico-arrow.svg" />
  </a>
  <nav class="footer__item footer__item--sections">
    <ul class="list">
      <li>
        <a
          class="link"
          href="https://adalab.es/"
          alt="Link to Adalab homepage"
          title="Link to Adalab homepage"
          target="_blank"
          >Article</a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://adalab.es/"
          alt="Link to Adalab homepage"
          title="Link to Adalab homepage"
          target="_blank"
          >Books</a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://adalab.es/"
          alt="Link to Adalab homepage"
          title="Link to Adalab homepage"
          target="_blank"
          >Events</a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://adalab.es/"
          alt="Link to Adalab homepage"
          title="Link to Adalab homepage"
          target="_blank"
          >Reasons</a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://adalab.es/"
          alt="Link to Adalab homepage"
          title="Link to Adalab homepage"
          target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__item footer__item--social">
    <ul class="list">
      <li>
        <a
          class="link"
          href="https://adalab.es/"
          alt="Link to Adalab homepage"
          title="Link to Adalab homepage"
          target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://adalab.es/"
          alt="Link to Adalab homepage"
          title="Link to Adalab homepage"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://adalab.es/"
          alt="Link to Adalab homepage"
          title="Link to Adalab homepage"
          target="_blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__item footer__item--copyright">
    <small>&copy 2017</small>
    <small class="lowercase">We <span class="heart">❤︎</span> components</small>
  </div>
  </div>
</footer>
