<footer class="footer txt-light">
  <div></div>
  <nav>
    <ul>
      <li><a class="link" href="">Article</a></li>
      <li><a class="link" href="">Books</a></li>
      <li><a class="link" href="">Events</a></li>
      <li><a class="link" href="">Reasons</a></li>
      <li><a class="link" href="">Tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a class="link" href="">Twitter</a></li>
      <li><a class="link" href="">Instagram</a></li>
      <li><a class="link" href="">Mastodon.social</a></li>
    </ul>
  </nav>
  <div>
    <small>&copy 2017</small>
    <small>We ❤︎ components</small>
  </div>
</footer>
