<footer class="footer txt--light uppercase">
  <a class="footer__button button--scroll" href="#start">
    <img src="./assets/images/ico-arrow.svg" />
  </a>
  <nav class="footer__item footer__item--sections">
    <ul class="list">
      <li>
        <include src="./footer-items.html"
        element="Articles">
        </include>
      </li>
      <li>
        <include src="./footer-items.html"
        element="Books">
        </include>
      </li>
      <li>
        <include src="./footer-items.html"
        element="Events">
        </include>
      </li>
      <li>
        <include src="./footer-items.html"
        element="Reasons">
        </include>
      </li>
      <li>
        <include src="./footer-items.html"
        element="Tips">
        </include>
      </li>
    </ul>
  </nav>
  <nav class="footer__item footer__item--social">
    <ul class="list">
      <li>
        <include src="./footer-items.html"
        element="Twitter">
        </include>
      </li>
      <li>
        <include src="./footer-items.html"
        element="Instagram">
        </include>
      </li>
      <li>
        <include src="./footer-items.html"
        element="Mastodon.social">
        </include>
      </li>
    </ul>
  </nav>
  <div class="footer__item footer__item--copyright">
    <small>&copy 2017</small>
    <small class="lowercase">We <span class="heart">❤︎</span> components</small>
  </div>
  </div>
</footer>
