<div class="hero txt--light" id="start">
  <div class="hero__wrapper">
    <h1 class="hero__title txt--xl txt--title txt--center uppercase">
      Anonymous proxy
    </h1>
    <p class="hero__text txt--reg">In hac habitasse platea dictumst.</p>
    <a
      class="button--scroll"
      href="#main-reasons--id"
      alt="Scroll button"
      title="Go to the section 3 reasons to purchase"
    >
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="Icon of an arrow for the scroll button"
        title="Go to the section 3 reasons to purchase"
      />
    </a>
  </div>
</div>
