<section class="main-reasons txt--center txt--dark" id="main-reasons--id">
  <h3 class="main-reasons__title txt--title txt--lg txt--bold capitalize">
    3 reasons to purchase
  </h3>
  <div class="main-reasons__grid txt--height txt--md">
    <include
      src="./main-items.html"
      item="grid__item-1"
      h4="Ut sed metus"
      p="Lorem ipsum dolor sit amet, consecteur."
    ></include>
    <include
      src="./main-items.html"
      item="grid__item-2"
      h4="Curabitur ac erat"
      p="Mauris mattis urna quis lorem molestie."
    ></include>
    <include
      src="./main-items.html"
      item="grid__item-3"
      h4="Morbi dictum"
      p="Aliquam in dolor et dolor tincidunt."
    ></include>
  </div>
  <button class="button--reasons">More reasons</button>
</section>
