/*colors*/

$color-brand-1: #f26002;
$color-brand-2: #ffffff;
$color-brand-3: #8ccbea;
$color-brand-4: #0271bc;
$color-brand-5: #304268;
$color-brand-ligth: #eff9ff;
$color-brand-dark: #000000;
$color-brand-text: #4a4a4a;

/*fonts*/
$font-family: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;
$font-size: 16px;
$font-color-base: $color-brand-text;
