/*colors*/

$color-brand-1: #f26002;
$color-brand-2: #ffffff;
$color-brand-3: #8ccbea;
$color-brand-4: #0271bc;
$color-brand-5: #304268;
$color-brand-extra: #eff9ff;
$color-brand-texts: #000000;

/*fonts*/
$font-family: "Roboto", sans-serif;
$font-size: 18px;
$font-color-base: $color-brand-texts;
