.footer {
  background-color: $color-brand-4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 15px 0; /*padding bottom es 15 porque a cada item le he puesto un margin bottom de 30*/
  @include tablet {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 45px 0 45px 0;
  }
  @include desktop {
    padding: 45px 370px 45px 370px;
  }
}
