@import "core/variables";
@import "core/reset";
@import "components/typography";
@import "layout/header";

.hero {
  background-color: powderblue;
  height: 100vh;
}

.main-tips {
  background-color: $color-brand-2;
}

.main-reasons {
  background-color: $color-brand-extra;
}

.footer {
  background-color: $color-brand-5;
}
